/* RentSargent : José Mogollón 09-2016 */

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

/*Begin 2 Columns*/
html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #253138;
    font-family: 'Roboto-Regular', sans-serif;
}

button { 
    outline: none;
}

#wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#content {
    height: 100%;
    min-height: 100%;
    background-color: #253138;
    width: 1024px;
    margin: auto;
}

header {
    margin-top: -60px;
    height: 60px;
    background-color: #253138;
}

/*footer {
    margin-bottom: -60px;
    height: 60px;
}*/

footer {
    margin: auto !important;
    bottom: 0;
    width: 1024px;
    /*height: 50px;*/
    text-align: center;
    height: 60px;
}

.tooltip_btn_down + .tooltip > .tooltip-inner {
	background-color: #e8e8e8;
	font-size: 18px;
	border-radius: 2px;
	color: #737373;
	border: 2px solid #e8e8e8;
	margin-bottom: 11px;
}

/*.tooltip_btn_down_special + .tooltip > .tooltip-inner {
	background-color: #fff;
	font-size: 18px;
	border-radius: 0px;
	color: #737373;
	border: 1px solid #000;
}*/
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top: 5px solid #e8e8e8;
    margin-bottom: 11px;
}

.tooltip_btn_down:hover {
    background-color: #a0a5a8 !important;    
}


.row.content {
    height: 100%;
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    min-height: 100%;
}
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}
.panel-2-columns{
	z-index: 1;
}

/*End 2 Columns*/

/*Buttons - UP*/

li > a {
    font-family: 'Roboto-Regular', sans-serif;
    line-height: 27px !important;
    text-decoration: none;
    color: #737373 !important;
}

li > a:hover, a.hover {
    background-color: #dcdcdc !important;
    color: #1d6174 !important;
}

.collapse {
    background-color: #fff;
}

.navbar {
    width: 1024px;
    margin: auto;
    border-radius: 0px;
    background-color: #fff;
    z-index: 2;
}

.navbar-brand{
	padding: inherit;
}

.container-fluid {
    padding-right: 0px;
}

li {
    border: 0px solid red;
    height: 58px;
}

.title-btn-up {
	padding-left: 15px;
}

.rs_btn {
    padding: 0px !important;
    padding-top: 23px !important;
    padding-bottom: 8px !important;
    padding-left: 2px !important;
    padding-right: 23px !important;
}
.rs_btn2 {
    padding: 0px !important;
    /*padding-top: 23px !important;*/
    padding-bottom: 8px !important;
    /*padding-left: 2px !important;*/
    padding-right: 5px !important;

    padding-top: 22px !important; 
    padding-left: 20px !important;    
}

.rs_btn2:hover {
    background-color: #fff !important;
    color: #1d6174 !important;
}

			.icons {
			    position: relative;
			    top: 1px;
			    display: inline-block;
			    font-style: normal;
			    font-weight: normal;
			    line-height: 1;
			    float: left;
			    display: block;
			    margin-right: 20px;
			}

			.icons.icon-dashboard {
			    background: url("../img/icons_header/dashboard.png");
			    background-size: cover;
			    width: 18px;
			    height: 20px;
			}
			
			.icons.icon-catalogos {
			    background: url("../img/icons_header/catalogo.png");
			    background-size: cover;
			    width: 18px;
			    height: 20px;
			}

			.icons.icon-reportes {
			    background: url("../img/icons_header/reportes.png");
			    background-size: cover;
			    width: 18px;
			    height: 20px;
			}

			.icons.icon-settings {
			    background: url("../img/icons_header/settings.png");
			    background-size: cover;
			    width: 20px;
			    height: 20px;
			}

			.dashboard:hover span{
				background: url("../img/icons_header/dashboard_on.png");
				color: #005b74;
			}

			.catalogos:hover span {
				background: url("../img/icons_header/catalogo_on.png");
				color: #005b74;
			}

			.reportes:hover span {
				background: url("../img/icons_header/reportes_on.png");
				color: #005b74;
			}

			.settings:hover span {
				background: url("../img/icons_header/settings_on.png");
				color: #005b74;
			}

			.active-catalogos {
				/*background: url("../img/icons_header/catalogo_on.png");*/
				color: #005b74 !important;
				font-weight: bold;
			}
			.icon-active-catalogos {
				background: url("../img/icons_header/catalogo_on.png") !important;
			}

			.submenu{
				font-size: 15px;
			}

			.submenu:hover {
				background-color: #fff !important;
				-webkit-box-shadow: inset 0px -9px 0px -4px #70a3b1;
				-moz-box-shadow: inset 0px -9px 0px -4px #70a3b1;
				box-shadow: inset 0px -9px 0px -4px #70a3b1;
			}

			.submenu-active{
				font-size: 15px;
				font-weight: bold !important;
				color: #005b74 !important;
				background-color: #e7e7e7 !important;
				
				-webkit-box-shadow: inset 0px -9px 0px -4px #70a3b1;
				-moz-box-shadow: inset 0px -9px 0px -4px #70a3b1;
				box-shadow: inset 0px -9px 0px -4px #70a3b1;

			}



.logo_small {
    padding-top: 9px;
    padding-left: 50px;
    padding-right: 28px;
}
.dropdown-menu > li {
    height: 30px;
}
.glyphicon {
    font-size: 20px;
}



/*Fin botonera Superior*/



/* Calendar */
.icons.icon-calendar {
    background: url("../img/icons_calendar/calendar.png");
    background-size: cover;
    width: 18px;
    height: 20px;
    margin-top: 0px;
    border-bottom: 2px solid #fff;
    float: left;
    left: 38px;
    z-index: 1;    
}

.icons.icon-search {
    background: url("../img/icons_calendar/search.png");
    background-size: cover;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    border-bottom: 0px solid #fff;
    float: left;
    left: 38px;
    z-index: 1;    
}

.icons.icon-rentado {
    background: url("../img/icons_calendar/rentado.png");
    background-size: cover;
    width: 20px;
    height: 17px;
    margin-top: -2px;
    border-bottom: 0px solid #fff;
    float: left;    
    z-index: 1;
    margin-right: -5px;
    margin-left: 15px;
}

.icons.icon-disponible {
    background: url("../img/icons_calendar/disponible.png");
    background-size: cover;
    width: 20px;
    height: 17px;
    margin-top: -2px;
    border-bottom: 0px solid #fff;
    float: left;    
    z-index: 1;    
    margin-right: -5px;
    margin-left: 15px;
}

/* Fin Calendar*/




/*Notificaciones*/
.title-notifications {
	padding-top: 10px; 
	font-weight: bold;
}
.notifications {
    min-width: 420px !important;
    right: -1px !important;
}
.notifications-wrapper {
    overflow: auto;
    max-height: 250px;
}
.menu-title {
    color: #005b74;
    font-size: 1.5rem;
    display: inline-block;
}
.glyphicon-circle-arrow-right,
.glyphicon-remove-sign {
    margin-left: 5px;
    top: 4px;
}
.notification-heading,
.notification-footer {
    padding: 2px 10px;
}
.notification-footer {
    padding: 0px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.notification-heading > h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.dropdown-menu.divider {
    margin: 5px 0;
}
.item-title {
    font-size: 1.3rem;
    color: #000;
}
.notifications a.content {
    text-decoration: none;
    background: #ccc;
}
.notification-item {
    padding: 10px;
    margin: 5px;
    background: #eee;
    /*border-radius:4px;*/
}
.notification-divider {
    margin: 0px 0 !important;
}
.badge-notify {
    background: red;
    position: relative;
    top: -20px;
    right: 30px;
}
.glyphicon-bell{
	margin-right: -15px;
}
/*Fin notificaciones*/
/*Panel User*/
.pic-user-regular{
	margin-right: 10px;
	width: 70px;
}
.pic-user-small{
	margin-right: 10px;
}
.pic-user-large{
	margin-right: 10px; 
	width: 60px; 
	margin-left: 5px;
}
.img-user-large{
	margin-right: 10px;
}
.plaza-box{
	margin-top: 0px;
	color: #ccc;
	margin-top: -5px !important;
	color: #999;font-size: 1.4rem;
	margin-top: 0px;
}
.icon-plaza{
	margin-right: 10px; 
	width: 60px; 
	margin-left: 5px;
}
.plaza-box-margin-r {
	margin-right: 0px;
}
.profile-image{
	padding-top: 13px !important;
}
.profile-image:hover{
	padding-top: 13px;
}
.user-info{
	display: inline-block;
	vertical-align: top;
}
.user-name{
	font-weight: bold;
}

.user-mail{
	margin-top:0px;
	color: #999 !important;
	margin-top: -5px !important;	
	font-size: 1.2rem !important;
	margin-top: 0px;
}
.user-change-info{
	margin-top: -5px;
	font-size: 1.3rem !important;
}
.panel-user {
    min-width: 420px !important;
    right: -2px !important;
}
.panel-user-wrapper {
    overflow: auto;
    max-height: 250px;
}
.panel-user-menu-title {
    color: #005b74;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 0px !important;
}
.panel-user-opcion {
    color: #005b74;
    font-size: 1.5rem;
    /*display: inline-block;*/
}
.glyphicon-circle-arrow-right,
.glyphicon-remove-sign {
    margin-left: 5px;
    top: 4px;
}
.panel-user-heading,
.panel-user-footer {
    padding: 2px 10px;
}
.panel-user-footer {
    padding: 0px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.panel-user-plazas {
    padding: 0px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: #ddd;
    padding-top: 10px;
}
.panel-user-heading > h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.dropdown-menu.divider {
    margin: 5px 0;
}
.panel-user-item-title {
    font-size: 1.3rem;
    color: #000;
}
.panel-user a.content {
    text-decoration: none;
    background: #ccc;
}
.panel-user-item {
    padding: 10px;
    margin: 0px;
    margin-bottom: 2px;
    background: #eee;
    /*border-radius:4px;*/
}
.panel-user-divider {
    margin: 0px 0 !important;
}

[class^="brocco-icon-"], [class*=" brocco-icon-"], [class^="cut-icon-"], [class*=" cut-icon-"], [class^="entypo-icon-"], [class*=" entypo-icon-"], [class^="icomoon-icon-"], [class*=" icomoon-icon-"], [class^="minia-icon-"], [class*=" minia-icon-"], [class^="iconic-icon-"], [class*=" iconic-icon-"], [class^="meteo-icon-"], [class*=" meteo-icon-"], [class^="silk-icon-"], [class*=" silk-icon-"], [class^="typ-icon-"], [class*=" typ-icon-"], [class^="wpzoom-"], [class*=" wpzoom-"], [class^="eco-"], [class*=" eco-"], [class^="wpzoom-"]:before, [class*=" wpzoom-"]:before, [class^="eco-"]:before, [class*=" eco-"]:before {
    color: #fff;
}